<section id="experience" class="section scrollspy"> 
  <h3 class="page-title white-text teal">Experience</h3>
  <div class="container">
      <div class="card" *ngFor="let exp of experiences">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m2"><a href="http://wespire.com" target="_blank"><img alt="WeSpire logo" src="assets/img/wespire-logo.jpg" class="responsive-img center-block"></a></div>
            <div class="col s12 m10">
              <p><span class="card-title"><a href="http://wespire.com" target="_blank" class="teal-text hoverline">Wespire</a></span></p>
            </div>
          </div>
          <div class="role brown-text">Full-Stack Software Developer</div>
          <p><em class="grey-text">Employee engagement platform that empowers forward-thinking global organizations to create brand value.</em></p>
          <h6>Develop Core Product</h6>
          <ul>
            <li>Verify, prioritize, and fix software bugs</li>
            <li>Build new features, both via product road map and self-designed</li>
            <li>Manage feature sprint life cycle
              <ul>
                <li>process product requirements</li>
                <li>assess current functionality</li>
                <li>estimate total work time and merge dates</li>
                <li>break down feature into smaller deliverables</li>
                <li>solicit feedback regularly</li>
                <li>continuously measure and document progress</li>
                <li>analyze sprint execution retrospectively</li>
              </ul>
            </li>
            <li>Stack: Ruby, Rails, PostgreSQL // React, JS, Coffeescript, jQuery // Sass // HTML, Haml</li>
          </ul>
          <h6>Accomplishments</h6>
          <ul>
            <li>Overseeing Front-End Refactor of production app from page-specific styles to to modular BEM components</li>
            <li>Developed admin tool to automatically convert HRIS employee lists to users, significantly increasing total membership for new clients and simplifying user onboarding</li>
            <li>Implemented and customized a Facebook-style inline @tagging feature to increase app share-ability</li>
            <li>WakaTime - Top WeSpire team contributor, occasional top ten global leaderboard for weekly usage</li>
            <li>Github - 20,000+ lines contributed to code base</li>
          </ul>
        </div>
        <div class="card-action"><span>Jan 2016 - Present  |  Boston, MA</span></div>
      </div>
  </div>
</section>